.header{
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.profile button{
  margin-right: 40px;
  cursor: pointer;
  background: #6d79ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
}
.profile button:hover{
  background: #555ec9f3;
  transition: all 0.3s ease;
}
.profile button:disabled{
  background-color: rgb(118, 204, 134);
  pointer-events: none;
  transition: all 0.3s ease;
}

.main{
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin:  40px auto;
}

.container{
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
}

.relator_content{
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  justify-content: end;
}

.relator_content h6{
  font-size: 16px;
  font-weight: 500;

}

.avatar{
  border-radius: 100%;
}
.title{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}
.subtitle{
  margin-bottom: 20px;
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 18px;
}

.content{
  line-height: 26px;
}

.content span{
  font-weight: 500;
}

